<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Modulo_Administracion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
      DESKTOP-I7NMOJE  
      MAXI-PC
  -->
  <connectionStrings>
    <add name="desktop-i7nmoje.CarritoCompras.dbo" connectionString="XpoProvider=MSSqlServer;data source=MAXI-PC;user id=sa;password=123456;initial catalog=CarritoCompras" />
    <add name="Modulo_AdministracionContext" connectionString="data source=MAXI-PC;initial catalog=CarritoCompras;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Modulo_Administracion.Properties.Settings.reporteFacturaConnectionString"
      connectionString="Data Source=MAXI-PC;Initial Catalog=CarritoCompras;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Modulo_Administracion.Properties.Settings>
      <setting name="Modulo_Administracion_WS_SR_CONSTANCIA_INSCRIPCION_PersonaServiceA5"
        serializeAs="String">
        <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
      </setting>
      <setting name="Modulo_Administracion_WSAA_LoginCMSService" serializeAs="String">
        <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="Modulo_Administracion_WSFEHOMO_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="Modulo_Administracion_WSPSA4_PersonaServiceA4"
        serializeAs="String">
        <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA4</value>
      </setting>
    </Modulo_Administracion.Properties.Settings>
  </applicationSettings>
</configuration>